[Unit]
Description=Portainer Container
After=local-fs.target
Wants=network-online.target
After=network-online.target
After=tailscaled.service

[Container]
Image=docker.io/portainer/portainer-ce:alpine-sts
ContainerName=portainer
AutoUpdate=registry
#Notify=true
LogDriver=journald
PublishPort=100.109.186.56:9443:9443
Volume=/run/podman/podman.sock:/var/run/docker.sock:z
Volume=portainer.volume:/data
Volume=/:/host
PodmanArgs=--privileged

[Service]
Restart=on-success

[Install]
WantedBy=default.target
